body {
    background-color: lightpink;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    display:flex;
    flex-direction:column;

   
    
}

.flex-container {
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
    
}

.square {
    width: 120px;
    height: 120px;
    background-color: rgb(182, 150, 212);
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: rgb(197, 28, 70);
    
}

#title {
    color: white;
    font-size:24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#players-turn{
    color: white;
    font-size: 20;

}

#restart-button {
    background-color: rgb(185, 84, 211);
    color:blanchedalmond;
    text-align: center;
    margin: 20px ;
    border-radius: 5px;

}

.alert {
    width: 300px;
    height: 100px;
    border-radius: 5px;
    color : rgb(235, 16, 89);
    text-align: center;
    font-size: 24px;

}
